@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

.pokemon {
  margin-top: 5%;
}

.pokemon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.pokemon form {
  margin-top: 3%;
  margin-left: 35%;
  margin-right: 35%;
}

.info-display {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
}

.card-styling {
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black !important;
  padding-bottom: 2%;
}

.disp-text {
  margin-top: 25px;
  line-height: 1px;
}

.title-text {
  font-weight: 800;
  font-size: 2.3rem;
}
